*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

.login-container{
  min-height:100vh;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.login-overlay{
  min-height:100vh;

  display:flex;
  align-items:flex-start;
  justify-content:flex-start;

  padding-top:10px;
  padding-left:10px;
}

.login-card{
  width:400px;

  padding:18px 25px;

  border-radius:25px;

  background:rgba(8,10,25,.18);

  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.08);

  box-shadow:
    0 8px 32px rgba(0,0,0,.20),
    0 0 15px rgba(139,92,246,.12);

  color:white;
}

/* LOGO */

.hero-logo{
  text-align:center;
  margin-bottom:10px;
}

.hero-logo-img{
  width:70px;
  height:70px;
  object-fit:contain;
  margin-bottom:5px;
}

.hero-logo h2{
  font-size:28px;
  letter-spacing:5px;
  font-weight:700;

  background:linear-gradient(
    90deg,
    #4cc9ff,
    #ff2ad6
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.hero-logo span{
  font-size:10px;
  letter-spacing:2px;
  color:#d1d5db;
}

/* TITLE */

.login-card h1{
  text-align:center;
  font-size:28px;
  margin-bottom:3px;
}

.subtitle{
  text-align:center;
  font-size:13px;
  color:#d1d5db;
  margin-bottom:12px;
}

/* LABELS */

.login-card label{
  display:block;
  margin-bottom:5px;
  font-size:13px;
}

/* INPUTS */

.input-box{
  display:flex;
  align-items:center;
  gap:10px;

  height:42px;

  padding:0 12px;

  margin-bottom:10px;

  border-radius:10px;

  background:rgba(255,255,255,.04);

  border:1px solid rgba(255,255,255,.08);

  color:#d946ef;
}

.input-box input{
  flex:1;

  border:none;
  outline:none;

  background:none;

  color:white;

  font-size:13px;
}

.input-box input::placeholder{
  color:#9ca3af;
}

/* OPTIONS */

.options{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin:10px 0;
}

.remember{
  display:flex !important;
  align-items:center;
  gap:5px;
  font-size:12px;
}

.options a{
  color:#d946ef;
  text-decoration:none;
  font-size:12px;
}

/* BUTTON */

.signin-btn{
  width:100%;
  height:45px;

  border:none;
  border-radius:12px;

  background:linear-gradient(
    90deg,
    #2563eb,
    #ff00ff
  );

  color:white;
  font-size:16px;
  font-weight:600;

  cursor:pointer;
}

/* DIVIDER */

.divider{
  text-align:center;
  margin:12px 0;
  font-size:13px;
}

/* GOOGLE */

.social-buttons button{
  width:100%;
  height:45px;

  border-radius:12px;

  border:1px solid rgba(255,255,255,.08);

  background:rgba(255,255,255,.03);

  color:white;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

  cursor:pointer;
}

/* SIGNUP */

.signup-link{
  text-align:center;
  margin-top:12px;
  font-size:12px;
}

.signup-link a{
  color:#d946ef;
  text-decoration:none;
}
.login-overlay{
  min-height:100vh;

  display:flex;
  align-items:flex-start;
  justify-content:flex-start;

  padding-top:10px;
  padding-left:10px;
}

.login-card{
  width:470 px;

  padding:18px 30px;

  border-radius:25px;

  background:rgba(8,10,25,.18);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.08);

  color:white;
}

.hero-logo{
  text-align:center;
  margin-bottom:10px;
}

.hero-logo-img{
  width:70px;
  height:70px;
  object-fit:contain;
}

.hero-logo h2{
  font-size:28px;
  letter-spacing:5px;
}

.login-card h1{
  font-size:28px;
  text-align:center;
}

.subtitle{
  text-align:center;
  margin-bottom:12px;
}

.input-box{
  height:42px;
}

.signin-btn{
  height:45px;
}